<div fxLayout="row wrap" style="margin-top:10px">
  <div fxFlex="100">
    <div class="current-round">
      <h2>Current Round</h2>
      <table id="customers">
        <thead>
          <tr>
            <th>Name</th>
            <th>Points</th>
            <th>Multiplier</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let player of gameService.players">
            <td>{{ player.name }}</td>
            <td>{{ player.points }}</td>
            <td>{{ player.multiplier  }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

