<div fxLayout="row wrap" style="padding: 40px">
  <div fxFlex="40">
    <app-player-input></app-player-input>
     <app-current-round></app-current-round>
     <app-game-board></app-game-board>
  </div>

  <div fxFlex="50">
      chart bar
  </div>

  <div fxFlex="100">
    <div fxLayout="row wrap">
      <div fxFlex="45" style="margin-right:15px">
        <app-ranking></app-ranking>
      </div>

      <div fxFlex="50">
        <app-chat></app-chat>
      </div>
    </div>

  </div>


</div>



