<div fxLayout="row wrap">
  <div fxFlex="100">
    <div class="ranking">
      <h2>Ranking</h2>
      <table id="customers">
        <thead>
          <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let player of ranking; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ player.name }}</td>
            <td>{{ player.totalPoints }}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
